body {
    background-color: #000;
    color: #fff; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-shadow: 0 0 4px white;
}

.profile-container {
    text-align: center;
    padding: 20px;
    max-width: 90%;
    margin: auto;
}

.profile-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 15px white;
    border: 5px solid #bbb;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.gradient-text {
    background: linear-gradient(to right, red, blue);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    margin: 0;
}

.skills-container {
    margin-top: 30px;
    text-align: left;
}

.skill {
    margin-bottom: 15px;
}

.skill span {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

.progress-bar {
    background-color: #333;
    border-radius: 4px;
    overflow: hidden;
    height: 15px;
}

.progress {
    height: 100%;
    border-radius: 4px;
}

footer {
    font-weight: bold;
    position: fixed;
    bottom: 10px;
    left: 10px;
    margin: 0;
}

@media (max-width: 768px) {
    .profile-image {
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 20px;
    }

    .gradient-text {
        font-size: 16px;
    }

    .skill span {
        font-size: 14px;
    }

    .progress-bar {
        height: 12px;
    }
}

@media (max-width: 480px) {
    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .profile-container {
        padding: 15px;
    }

    .profile-image {
        width: 100px;
        height: 100px;
    }

    h1 {
        font-size: 18px;
    }

    .gradient-text {
        font-size: 14px;
    }

    .skill span {
        font-size: 12px;
    }

    .progress-bar {
        height: 10px;
    }

    footer {
        font-size: 12px;
    }
}
